services:
  - type: web
    name: spotify-dashboard-api
    runtime: python
    rootDir: backend
    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: SPOTIFY_CLIENT_ID
        sync: false
      - key: SPOTIFY_CLIENT_SECRET
        sync: false
      - key: SPOTIFY_REDIRECT_URI
        sync: false
      - key: FRONTEND_URL
        sync: false
      - key: ALLOWED_ORIGINS
        sync: false
      - key: MONGODB_URL
        sync: false
      - key: MONGODB_DB_NAME
        value: spotify_dashboard
      - key: PYTHON_VERSION
        value: "3.11.11"
